@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-outline {
    color: black;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }
  .bg-black-blur {
    @apply backdrop-blur bg-black bg-opacity-10;
  }
  .btn-primary {
    @apply bg-diablo-dark border rounded-sm text-white uppercase px-3 py-2 opacity-80 hover:opacity-100 text-nowrap font-bold disabled:opacity-30 disabled:cursor-not-allowed font-exo;
  }
  .btn-secondary {
    @apply border-white rounded-sm text-white border px-3 py-2 opacity-70 hover:opacity-100 text-nowrap disabled:opacity-30 disabled:cursor-not-allowed;
  }
  .glow-shadow {
    filter: drop-shadow(0 0 1.2em #f28303);
  }
}

@font-face {
  font-family: 'ExocetOTCECY-Medium';
  src: url('https://db.onlinewebfonts.com/t/1241ae66485548a9fed1d3c923f27761.eot');
  src:
    url('https://db.onlinewebfonts.com/t/1241ae66485548a9fed1d3c923f27761.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/1241ae66485548a9fed1d3c923f27761.woff2') format('woff2'),
    url('https://db.onlinewebfonts.com/t/1241ae66485548a9fed1d3c923f27761.woff') format('woff'),
    url('https://db.onlinewebfonts.com/t/1241ae66485548a9fed1d3c923f27761.ttf') format('truetype'),
    url('https://db.onlinewebfonts.com/t/1241ae66485548a9fed1d3c923f27761.svg#ExocetOTCECY-Medium')
      format('svg');
}

body {
  padding: 30px;
  overflow: hidden;
  height: 100 vh;
  user-select: none;
  background-image: url('../assets/background.png');
  background-size: cover;
  background-position: center;
  color: white;
  font:
    16px 'PT Serif',
    serif;
}

.item-bg {
  background: transparent url('./item-bg.jpg') !important;
}

.scrollbar {
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: '#613e16';
    border-radius: 3px;
  }
  &::-webkit-scrollbar-track {
    margin-bottom: -3px;
  }
  &::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
  }
  &::-webkit-scrollbar-track-piece:start {
    background: transparent url('./assets/images/transparent.png') repeat-y !important;
  }
  &::-webkit-scrollbar-track-piece:end {
    background: transparent url('./assets/images/transparent.png') repeat-y !important;
  }
}
.scrollbar:hover {
  &::-webkit-scrollbar-thumb {
    background-color: '#613e16';
  }
}
.glow {
  position: relative;
  border-radius: 4px;
  transform-style: preserve-3d;
}
.glow::before {
  content: '';
  position: absolute;
  inset: 0px;
  background: conic-gradient(
    from 90deg at 40% -25%,
    #ffd700,
    #f79d03,
    #ee6907,
    #e6390a,
    #de0d0d,
    #ee6907,
    #f79d03,
    #ffd700,
    #ffd700,
    #ffd700
  );
  filter: blur(4px);
  transform: translate3d(0px, 0px, -1px);
  clip-path: polygon(
    -100vmax -100vmax,
    100vmax -100vmax,
    100vmax 100vmax,
    -100vmax 100vmax,
    -100vmax -100vmax,
    calc(0px - 0px) calc(0px - 0px),
    calc(0px - 0px) calc(100% - 0px - 0px),
    calc(100% - 0px - 0px) calc(100% - 0px - 0px),
    calc(100% - 0px - 0px) calc(0px - 0px),
    calc(0px - 0px) calc(0px - 0px)
  );
  pointer-events: none;
  border-radius: 4px;
}

@keyframes burning {
  0% {
    box-shadow:
      0 0 2px #613e16,
      0 0 4px #613e16,
      0 0 6px #613e16;
  }
  25% {
    box-shadow:
      0 0 4px #f28303,
      0 0 6px #f28303,
      0 0 8px #f28303;
  }
  50% {
    box-shadow:
      0 0 6px #613e16,
      0 0 4px #613e16,
      0 0 10px #613e16;
  }
  75% {
    box-shadow:
      0 0 4px #f28303,
      0 0 6px #f28303,
      0 0 8px #f28303;
  }
  100% {
    box-shadow:
      0 0 2px #613e16,
      0 0 4px #613e16,
      0 0 6px #613e16;
  }
}

.burning {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  animation: burning 10s infinite alternate;
}
