@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-diablo rounded-sm text-diablo-bg font-bold uppercase px-3 py-2 opacity-80 hover:opacity-100 text-nowrap font-bold;
  }
  .btn-secondary {
    @apply border-diablo rounded-sm text-diablo border px-3 py-2 opacity-70 hover:opacity-100 text-nowrap;
  }
  .glow-shadow {
    filter: drop-shadow(0 0 1.2em #f28303);
  }
}

@font-face {
  font-family: 'ExocetOTCECY-Medium';
  src: url('https://db.onlinewebfonts.com/t/1241ae66485548a9fed1d3c923f27761.eot');
  src:
    url('https://db.onlinewebfonts.com/t/1241ae66485548a9fed1d3c923f27761.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/1241ae66485548a9fed1d3c923f27761.woff2') format('woff2'),
    url('https://db.onlinewebfonts.com/t/1241ae66485548a9fed1d3c923f27761.woff') format('woff'),
    url('https://db.onlinewebfonts.com/t/1241ae66485548a9fed1d3c923f27761.ttf') format('truetype'),
    url('https://db.onlinewebfonts.com/t/1241ae66485548a9fed1d3c923f27761.svg#ExocetOTCECY-Medium')
      format('svg');
}

body {
  padding: 30px;
  overflow: hidden;
  height: 100 vh;
  user-select: none;
  background-image: url('../assets/background.png');
  background-size: cover;
  background-position: center;
  color: white;
  font:
    16px 'PT Serif',
    serif;
}

.item-bg {
  background: transparent url('./item-bg.jpg') !important;
}

.scrollbar {
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: '#613e16';
    border-radius: 3px;
  }
  &::-webkit-scrollbar-track {
    margin-bottom: -3px;
  }
  &::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
  }
  &::-webkit-scrollbar-track-piece:start {
    background: transparent url('./assets/images/transparent.png') repeat-y !important;
  }
  &::-webkit-scrollbar-track-piece:end {
    background: transparent url('./assets/images/transparent.png') repeat-y !important;
  }
}
.scrollbar:hover {
  &::-webkit-scrollbar-thumb {
    background-color: '#613e16';
  }
}
